<form class="signature" action="/update" method="POST" autocomplete="off">
    <h2>Update your information!</h2>
    <div class="login">
        <div class="profileRow">
            <h5>Email</h5>
            <input type="email" name="email" placeholder="joe@acme.org" value="{{userInfo.email}}" autocomplete="off">
        </div>
        <div class="profileRow">
            <h5>First Name</h5>
            <input type="text" name="firstname" placeholder="First Name" value="{{userInfo.firstname}}" >
        </div>
        <div class="profileRow">
            <h5>Last Name</h5>
            <input type="text" name="lastname" placeholder="Last Name" value="{{userInfo.lastname}}">
        </div>
        <div class="profileRow">
            <h5>Password</h5>
            <input type="password" name="password" autocomplete="off">
            <h6><em>8-16 characters (no spaces) and include: lowercase and uppercase letters and a number</em></h6>
        </div>
        <div class="profileRow">
            <h5>Age</h5>
            <input type="number" min="1" max="125" name="age" placeholder="Age" value="{{userInfo.age}}">
        </div>
        <div class="profileRow">
            <h5>Your website (only http://, https://, // accepted)</h5>
            <input type="url" name="url" pattern="(^http(s)?:\/\/|^\/\/)\S+[.]\S+$" placeholder="https://example.com" value="{{userInfo.url}}">
        </div>
        <div class="profileRow">
            <h5>City</h5>
            <input type="text" name="city" placeholder="City" value="{{userInfo.city}}">
            <div class="cityresults">
            </div>
        </div>
        {{#if error}}
            <div class="error">
                {{error}}
            </div>
        {{else}}
        {{/if}}

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>
    <button type="submit" name="update">Submit</button>
</form>
